<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EBuyTest</display-name>
  <servlet>
	<!-- 用户 -->    
  <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.myServlet.MyServlet</servlet-class>
  </servlet>
  <!-- 商品类型 --> 
  <servlet>
    <servlet-name>ProviderTypeServlet</servlet-name>
    <servlet-class>com.myServlet.ProviderTypeServlet</servlet-class>
  </servlet>
   <!-- 商品 --> 
  <servlet>
    <servlet-name>ProviderListServlet</servlet-name>
    <servlet-class>com.myServlet.ProviderListServlet</servlet-class>
  </servlet>
  <!-- 公告 --> 
  <servlet>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.myServlet.NoticeServlet</servlet-class>
  </servlet>
  <!-- 修改密码 --> 
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.myServlet.adminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePageServler</servlet-name>
    <servlet-class>com.myServlet.HomePageServler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginAndRegist</servlet-name>
    <servlet-class>com.myServlet.LoginAndRegist</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/ebuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderTypeServlet</servlet-name>
    <url-pattern>/ebuypro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderListServlet</servlet-name>
    <url-pattern>/pList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePageServler</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAndRegist</servlet-name>
    <url-pattern>/lar</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Backstage/login.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>